<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Thank You</title>
<!-- OWN CSS -->
<link rel="stylesheet" href="css/thankyou.css">
</head>
<body>


	<pre th:text="${data}"></pre>

	<a href="home"> <img alt="logo" class="top" src="img/blue.png"></a>

	<div class="container">

		<img alt="logo" src="img/img01.png">
		<h2>Registration Complete !</h2>
		<p>Hello <b>

			</b>, Your account has been successfully
			created
		</p>
		<a href="login">Go to the Login Page ?</a>

	</div>

</body>
</html>