<html xmlns:th="http://www.w3.org/1999/xhtml">


<!-- HEADER -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-1" th:fragment="my_navbar">
        <div class="container-fluid ps-4 pe-4">
                <a class="navbar-brand" href="dashboard"><img src="img/blue.png" alt="" width="120"></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mynavbar" id="navbarSupportedContent">
                        <form class="d-flex" action="/search" method="get">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                        name="keyword">
                        </form>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item"><a class="nav-link" href="#"><i
                                                        class="fa-solid fa-house-chimney me-2 text-primary"></i>Home</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="#"><i
                                                        class="fa-solid fa-users me-2 text-primary"></i>My Network</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="/job-feed"><i
                                                        class="fa-solid fa-briefcase me-2 text-primary"></i>Jobs</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="#"><i
                                                        class="fa-solid fa-message me-2 text-primary"></i>Message</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="#"><i
                                                        class="fa-solid fa-bell me-2 text-primary"></i>Notifications</a>
                                </li>
                                <li class="nav-item text-center d-lg-none d-block"><a href="profile"
                                                class="btn border-primary border-2 text-primary rounded-pill text-decoration-none">View
                                                Your Profile</a>
                                        <hr>
                                </li>
                                <li class="nav-item text-center d-lg-none d-block">
                                        <a class="text-danger" id="out" style="cursor: pointer;">Logout <i
                                                        class="fa-solid fa-right-from-bracket"></i></a>
                                </li>
                        </ul>
                        <span class="nav-profile d-lg-flex d-none" id="show-pf"> <img src="img/profile.jpg" alt="">
                                <h6 th:text="${loggedUser.userAppDetails.firstName}"></h6> <i
                                        class="fa-solid fa-caret-down fs-3 shrink cs-p"></i>
                        </span>
                </div>
        </div>


        <div class="profile-popup" id="config-pf">
                <a href="profile"
                        class="btn border-primary border-2 text-primary rounded-pill text-decoration-none">View
                        Your Profile</a>
                <hr>

                <a class="text-danger text-decoration-none" id="logout" style="cursor: pointer;">Logout <i
                                class="fa-solid fa-right-from-bracket"></i></a>
        </div>
</nav>